<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-06-09T10:57:26Z</date>
	<key>WorkspacePath</key>
	<string>/Users/kou/Documents/of_v0.9.8_osx_release/apps/myApps/Dr_MARI0-b/Dr_MARI0-b.xcodeproj</string>
</dict>
</plist>
